.ls {
  width: 260px;
  background: #001030;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ls-top {
  padding: 20px;
}

.ls-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ls-nav .logo {
  max-width: 140px;
}

.menu img {
  max-height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

/* PROFILE */
.ls-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  margin-top: 8px;
  font-size: 15px;
  font-weight: 600;
}

/* SEARCH */
.ls-search {
  background-color: #002670;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-top: 15px;
}

.ls-search img {
  width: 16px;
}

.ls-search input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 12px;
}

/* FRIEND LIST */
.ls-list {
  flex: 1;
  overflow-y: auto;
}

.friends {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.friend-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}

.friend-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friends:hover {
  background-color: #077eff;
}

/* MENU */
.menu {
  position: relative;
}

.sub-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 140px;
  background: white;
  color: black;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  z-index: 10;
}


.avatar-wrapper img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0d6efd;
}

.friend-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sub-menu p {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: 0.2s;
}

.sub-menu p:hover {
  background: #0d6efd;
  color: white;
}


.sub-menu p {
  padding: 8px 10px;
  border-radius: 4px;
  transition: 0.2s;
}

.sub-menu p:hover {
  background: #077eff;
  color: white;
}


.avatar-wrapper img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}


.ls-profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #2f80ed;
  cursor: pointer;
}
