/* Page background */
.chat-page {
  min-height: 100vh;
  background: linear-gradient(#596aff, #383699);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main chat container */
.chat-layout {
  width: 95%;
  max-width: 1200px;
  height: 80vh;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
}

.loading{
  font-size: 50px;
  color: white;
}

@media(max-width: 900px) {
  .chat-container{
    display: flex;
  }
  .loading{
    font-size: 30px;
  }

}