.rs {
  width: 260px;
  background: #001030;
  color: white;
  display: flex;
  flex-direction: column;
}

.rs-profile {
  padding: 30px 20px;
  text-align: center;
}
.rs-profile img{
    width: 110px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.rs-profile h3{
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0px;
}
.rs-profile p{
    font-size: 10px;
    opacity: 80%;
    font-weight: 300;
}
.rs hr{
    border-color: #ffffff50;
    margin: 15px 0px;
}
.rs-media {
  flex: 1;
  padding: 0 20px;
  overflow-y: auto;
}
.rs-media div{
    max-height: 180px;
    overflow-y: scroll;
    display: flex;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 8px;
}
.rs-media div img{
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
}
.rs button {
  margin: 20px auto;
  background: #077eff;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .rs{
    display: none;
  }
}

.rs-media-grid::-webkit-scrollbar {
  height: 6px;
}

.rs-media-grid::-webkit-scrollbar-thumb {
  background: #4b6fff;
  border-radius: 4px;
}


.rs-profile {
  text-align: center;
  padding: 25px 15px;
}

.rs-avatar img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #2f80ed;
}
